{% extends 'Base.html' %}

{% block title %}
    {{ banks.name}}
{% endblock %}

{% load static %}
{% block content %}
    <div class="bank_class">Название банка: {{ banks.name }}
        <br/> Адрес: {{ banks.address }}
        <br/> Телефон: {{ banks.phone }}
    </div>

    <div class="img_bank">
        <img src="/static/img/{{ banks.idBanks }}.jpg" alt="" width="250px"; height="80px">
    </div>
    <div class="img_bank">
        <img src="/static/img/{{ banks.idBanks }}.png" alt="" width="250px"; height="80px">
    </div>

    <div class="bank_comments">Коротко о банке: <p>{{ banks.comments }}</p></div>
    <div class="fixed_bot">Страница банка № {{ banks.idBanks }}</div>
{% endblock %}