{% extends 'Base.html' %}

{% block title %}
    {{ customers.idCustomer }}
{% endblock %}

{% block content %}
    <div style="margin-top: 40pt">ФИО: {{ customers.fio }}
        <br/> Login: {{ customers.login }}
        <br/> Password: {{ customers.password }}
        <br/> Phone: {{ customers.phone }}
    </div>
    <br/>
    <div>Ваши счета:</div>
    {% include 'accounts.html' with accounts=accts %}
    <div>Ваши переводы:</div>
    {% include 'transactions.html' with transactions=trans %}
    <div class="fixed_bot">Страница юзера № {{ customers.idCustomer }}</div>
{% endblock %}