<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Перевод</title>
</head>
<body>
    <form method= "POST" id="form_id">
    {% csrf_token %}
        <div>
            <div>
                <p>счет куда: {{ form.accountId_to }}</p>
                <p>счет откуда: <!--{{ form.accountId_from }} -->
                    <label>
                        <select name="accountId_from">
                            <option></option>
                            {% for acct in acc %}
                                <option value="{{ acct.idAccounts }}"> {{ acct.idAccounts }}</option>
                            {% endfor %}
                        </select>
                    </label>

                </p>
                <p>сумма: {{ form.money }}</p>
                <p>комментарии: {{ form.comments }}</p>
            </div>
            <div class="submit-row" style="margin-bottom: 7%">
                <button class="btn btn-default" type="submit" id="but_id">Подтвердить</button>
                <a class="btn btn-default" type="button" href="{% url 'home' %}">Отмена</a>
            </div>
        </div>
    </form>
    <ul>
        <ul>
            {% for acct in acc %}
                <br/> id Счета: {{ acct.idAccounts }}
                <br/> id Банка: {{ acct.bankId_FK.idBanks }}
                      Название: {{ acct.bankId_FK.name }}
                <br/> Тип: {{ acct.type }}
                <br/> Сумма: {{ acct.money }} {{ acct.currency }}
                <hr width="40%" align="left">
            {% empty %}
                Баааа, да тут пусто...
            {% endfor %}
        </ul>

    </ul>
</body>

</html>