
    {% for trans in transactions %}
        <h5> id Транзакции: {{ trans.idTransactions }} </h5>
        <h5> id счета отправителя: {{ trans.accountId_from.idAccounts }} <br>
        ФИО: {{ trans.accountId_from.customerId_FK.fio }} </h5>
        <h5> id Счета (на какой): {{ trans.accountId_to.idAccounts }} </h5>
        <h5> Сумма: {{ trans.money }} {{ trans.currency }} </h5>
        <h5> Комментарии: {{ trans.comments }} </h5>
        <h6 class="text-primary"> Дата: {{ trans.time_t }} </h6>
        <div class="well well-sm"></div>
    {% empty %}
        Баааа, да тут пусто...
    {% endfor %}